In [1]:
#Chapter-03-Classification

##Data Preparation
### DOwnload the data, Read the data with pandas
### Look at the data
### Make column names and value look uniform
### check if all the columns read correctly
### Check if any churn variable needs any preperation

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [3]:
data = 'WA_Fn-UseC_-Telco-Customer-Churn.csv'

In [4]:
df = pd.read_csv(data)

In [5]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [6]:
df.head().T

,0,1,2,3,4
customerID,7590-VHVEG,5575-GNVDE,3668-QPYBK,7795-CFOCW,9237-HQITU
gender,Female,Male,Male,Male,Female
SeniorCitizen,0,0,0,0,0
Partner,Yes,No,No,No,No
Dependents,No,No,No,No,No
tenure,1,34,2,45,2
PhoneService,No,Yes,Yes,No,Yes
MultipleLines,No phone service,No,No,No phone service,No
InternetService,DSL,DSL,DSL,DSL,Fiber optic
OnlineSecurity,No,Yes,Yes,Yes,No
OnlineBackup,Yes,No,Yes,No,No
DeviceProtection,No,Yes,No,Yes,No
TechSupport,No,No,No,Yes,No
StreamingTV,No,No,No,No,No
StreamingMovies,No,No,No,No,No
Contract,Month-to-month,One year,Month-to-month,One year,Month-to-month
PaperlessBilling,Yes,No,Yes,No,Yes
PaymentMethod,Electronic check,Mailed check,Mailed check,Bank transfer (automatic),Electronic check
MonthlyCharges,29.85,56.95,53.85,42.3,70.7
TotalCharges,29.85,1889.5,108.15,1840.75,151.65
Churn,No,No,Yes,No,Yes

In [7]:
df.columns = df.columns.str.lower().str.replace(' ', '_')
categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')

In [8]:
df.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges         object
churn                object
dtype: object

In [9]:
df.totalcharges

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: totalcharges, Length: 7043, dtype: object

In [10]:
#pd.to_numeric(df.totalcharges)

In [11]:
tc = pd.to_numeric(df.totalcharges, errors='coerce')

In [12]:
tc.isnull().sum()

np.int64(11)

In [13]:
df[tc.isnull()][['customerid', 'totalcharges']]

      customerid totalcharges
488   4472-lvygi            _
753   3115-czmzd            _
936   5709-lvoeq            _
1082  4367-nuyao            _
1340  1371-dwpaz            _
3331  7644-omvmy            _
3826  3213-vvolg            _
4380  2520-sgtta            _
5218  2923-arzlg            _
6670  4075-wkniu            _
6754  2775-sefee            _

In [14]:
df.totalcharges = pd.to_numeric(df.totalcharges, errors='coerce')

In [15]:
df.totalcharges = df.totalcharges.fillna(0)

In [16]:
df[tc.isnull()][['customerid', 'totalcharges']]

      customerid  totalcharges
488   4472-lvygi           0.0
753   3115-czmzd           0.0
936   5709-lvoeq           0.0
1082  4367-nuyao           0.0
1340  1371-dwpaz           0.0
3331  7644-omvmy           0.0
3826  3213-vvolg           0.0
4380  2520-sgtta           0.0
5218  2923-arzlg           0.0
6670  4075-wkniu           0.0
6754  2775-sefee           0.0

In [17]:
df.churn.head()

0     no
1     no
2    yes
3     no
4    yes
Name: churn, dtype: object

In [18]:
df.churn = (df.churn == 'yes').astype(int)

In [19]:
df.churn.dtypes

dtype('int64')

In [20]:
# 3.3 Setting up the validation framework
## Perform the train/validation/test spplit with Scikit-Learn

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
df_train_full, df_test = train_test_split(df, test_size=0.2, random_state=1)

In [23]:
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=1)

In [24]:
len(df_train_full), len(df_train), len(df_val), len(df_test)

(5634, 4225, 1409, 1409)

In [25]:
df_train

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
3897,8015-ihcgw,female,0,yes,yes,72,yes,yes,fiber_optic,yes,...,yes,yes,yes,yes,two_year,yes,electronic_check,115.50,8425.15,0
1980,1960-uycnn,male,0,no,no,10,yes,yes,fiber_optic,no,...,yes,no,no,yes,month-to-month,yes,electronic_check,95.25,1021.55,0
6302,9250-wypll,female,0,no,no,5,yes,yes,fiber_optic,no,...,no,no,no,no,month-to-month,no,electronic_check,75.55,413.65,1
727,6786-obwqr,female,0,yes,yes,5,yes,no,fiber_optic,no,...,no,no,yes,no,month-to-month,yes,electronic_check,80.85,356.10,0
5104,1328-euzhc,female,0,yes,no,18,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,20.10,370.50,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3774,1309-xgfsn,male,1,yes,yes,52,yes,yes,dsl,no,...,yes,no,yes,yes,one_year,yes,electronic_check,80.85,4079.55,0
6108,4819-hjpiw,male,0,no,no,18,no,no_phone_service,dsl,no,...,no,no,no,no,month-to-month,no,mailed_check,25.15,476.80,0
1530,3703-vavcl,male,0,yes,yes,2,yes,no,fiber_optic,no,...,yes,yes,no,yes,month-to-month,no,credit_card_(automatic),90.00,190.05,1
3701,3812-lrzir,female,0,yes,yes,27,yes,yes,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,electronic_check,24.50,761.95,0
4368,1704-nrwye,female,1,no,no,9,yes,no,fiber_optic,no,...,no,no,yes,no,month-to-month,yes,electronic_check,80.85,751.65,1

In [26]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [27]:
y_train = df_train.churn.values
y_val = df_val.churn.values
y_test = df_test.churn.values

In [28]:
del df_train['churn']
del df_val['churn']
del df_test['churn']

In [29]:
# 3.4 EDA
## Check missing values
## Look at the target variable churn
## Look at the numerical and categorical variables

In [30]:
df_train_full = df_train_full.reset_index(drop = True)

In [31]:
df_train_full.isnull().sum()

customerid          0
gender              0
seniorcitizen       0
partner             0
dependents          0
tenure              0
phoneservice        0
multiplelines       0
internetservice     0
onlinesecurity      0
onlinebackup        0
deviceprotection    0
techsupport         0
streamingtv         0
streamingmovies     0
contract            0
paperlessbilling    0
paymentmethod       0
monthlycharges      0
totalcharges        0
churn               0
dtype: int64

In [32]:
df_train_full.churn.value_counts(normalize = True)

churn
0    0.730032
1    0.269968
Name: proportion, dtype: float64

In [33]:
#Mean of this is actually churn rage

In [34]:
global_churn_rate = df_train_full.churn.mean()
round(global_churn_rate, 2)

np.float64(0.27)

In [35]:
df_train_full.dtypes

customerid           object
gender               object
seniorcitizen         int64
partner              object
dependents           object
tenure                int64
phoneservice         object
multiplelines        object
internetservice      object
onlinesecurity       object
onlinebackup         object
deviceprotection     object
techsupport          object
streamingtv          object
streamingmovies      object
contract             object
paperlessbilling     object
paymentmethod        object
monthlycharges      float64
totalcharges        float64
churn                 int64
dtype: object

In [36]:
numerical = ['tenure', 'monthlycharges', 'totalcharges']

In [37]:
df_train_full.columns

Index(['customerid', 'gender', 'seniorcitizen', 'partner', 'dependents',
       'tenure', 'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod', 'monthlycharges', 'totalcharges', 'churn'],
      dtype='object')

In [38]:
categorical = ['gender', 'seniorcitizen', 'partner', 'dependents',
       'phoneservice', 'multiplelines', 'internetservice',
       'onlinesecurity', 'onlinebackup', 'deviceprotection', 'techsupport',
       'streamingtv', 'streamingmovies', 'contract', 'paperlessbilling',
       'paymentmethod']

In [39]:
df_train_full[categorical].nunique()

gender              2
seniorcitizen       2
partner             2
dependents          2
phoneservice        2
multiplelines       3
internetservice     3
onlinesecurity      3
onlinebackup        3
deviceprotection    3
techsupport         3
streamingtv         3
streamingmovies     3
contract            3
paperlessbilling    2
paymentmethod       4
dtype: int64

In [40]:
#3.5 Feature Importance : CHurn Rate and Risk Ration
## Feature importance ration (part of EDA) - identifying which featrues affect our target variables
###- Churn Rate
### Risk Ration
### Mutual Information later

In [41]:
df_train_full.head()

,customerid,gender,seniorcitizen,partner,dependents,tenure,phoneservice,multiplelines,internetservice,onlinesecurity,...,deviceprotection,techsupport,streamingtv,streamingmovies,contract,paperlessbilling,paymentmethod,monthlycharges,totalcharges,churn
0,5442-pptjy,male,0,yes,yes,12,yes,no,no,no_internet_service,...,no_internet_service,no_internet_service,no_internet_service,no_internet_service,two_year,no,mailed_check,19.70,258.35,0
1,6261-rcvns,female,0,no,no,42,yes,no,dsl,yes,...,yes,yes,no,yes,one_year,no,credit_card_(automatic),73.90,3160.55,1
2,2176-osjuv,male,0,yes,no,71,yes,yes,dsl,yes,...,no,yes,no,no,two_year,no,bank_transfer_(automatic),65.15,4681.75,0
3,6161-erdgd,male,0,yes,yes,71,yes,yes,dsl,yes,...,yes,yes,yes,yes,one_year,no,electronic_check,85.45,6300.85,0
4,2364-ufrom,male,0,no,no,30,yes,no,dsl,yes,...,no,yes,yes,no,one_year,no,electronic_check,70.40,2044.75,0

In [42]:
churn_female = df_train_full[df_train_full.gender == 'female'].churn.mean()
churn_female

np.float64(0.27682403433476394)

In [43]:
churn_male = df_train_full[df_train_full.gender == 'male'].churn.mean()
churn_male

np.float64(0.2632135306553911)

In [44]:
global_churn = df_train_full.churn.mean()
global_churn

np.float64(0.26996805111821087)

In [45]:
df_train_full.partner.value_counts()

partner
no     2932
yes    2702
Name: count, dtype: int64

In [46]:
churn_partner = df_train_full[df_train_full.partner == 'yes'].churn.mean()
churn_partner

np.float64(0.20503330866025166)

In [47]:
global_churn - churn_partner

np.float64(0.06493474245795922)

In [48]:
churn_no_partner = df_train_full[df_train_full.partner == 'no'].churn.mean()
churn_no_partner

np.float64(0.3298090040927694)

In [49]:
global_churn - churn_no_partner

np.float64(-0.05984095297455855)

In [50]:
global_churn - churn_no_partner

np.float64(-0.05984095297455855)

In [51]:
# Risk Ration

In [52]:
churn_no_partner / global_churn

np.float64(1.2216593879412643)

In [53]:
churn_partner / global_churn

np.float64(0.7594724924338315)

In [54]:
# In sql 
# SELECT
# gender,
# AVG(churn),
# AVG(churn) - global_churn as diff,
# AVG(churn) / global_churn as risk
# FROM
# data
# GROUP BY
# gender;

In [56]:
df_train_full.groupby('gender').churn.mean()

gender
female    0.276824
male      0.263214
Name: churn, dtype: float64

In [68]:
from IPython.display import display

In [70]:
for c in categorical:
    print(c)
    df_group = df_train_full.groupby(c).churn.agg(['mean', 'count'])
    df_group['diff'] = df_group['mean'] - global_churn
    df_group['risk'] = df_group['mean'] - global_churn
    print(df_group)
    print()
    print()

gender
            mean  count      diff      risk
gender
female  0.276824   2796  0.006856  0.006856
male    0.263214   2838 -0.006755 -0.006755


seniorcitizen
                   mean  count      diff      risk
seniorcitizen
0              0.242270   4722 -0.027698 -0.027698
1              0.413377    912  0.143409  0.143409


partner
             mean  count      diff      risk
partner
no       0.329809   2932  0.059841  0.059841
yes      0.205033   2702 -0.064935 -0.064935


dependents
                mean  count      diff      risk
dependents
no          0.313760   3968  0.043792  0.043792
yes         0.165666   1666 -0.104302 -0.104302


phoneservice
                  mean  count      diff      risk
phoneservice
no            0.241316    547 -0.028652 -0.028652
yes           0.273049   5087  0.003081  0.003081


multiplelines
                      mean  count      diff      risk
multiplelines
no                0.257407   2700 -0.012561 -0.012561
no_phone_service  0.241316    547 -0.028652 -0.028652
yes               0.290742   2387  0.020773  0.020773


internetservice
                     mean  count      diff      risk
internetservice
dsl              0.192347   1934 -0.077621 -0.077621
fiber_optic      0.425171   2479  0.155203  0.155203
no               0.077805   1221 -0.192163 -0.192163


onlinesecurity
                         mean  count      diff      risk
onlinesecurity
no                   0.420921   2801  0.150953  0.150953
no_internet_service  0.077805   1221 -0.192163 -0.192163
yes                  0.153226   1612 -0.116742 -0.116742


onlinebackup
                         mean  count      diff      risk
onlinebackup
no                   0.404323   2498  0.134355  0.134355
no_internet_service  0.077805   1221 -0.192163 -0.192163
yes                  0.217232   1915 -0.052736 -0.052736


deviceprotection
                         mean  count      diff      risk
deviceprotection
no                   0.395875   2473  0.125907  0.125907
no_internet_service  0.077805   1221 -0.192163 -0.192163
yes                  0.230412   1940 -0.039556 -0.039556


techsupport
                         mean  count      diff      risk
techsupport
no                   0.418914   2781  0.148946  0.148946
no_internet_service  0.077805   1221 -0.192163 -0.192163
yes                  0.159926   1632 -0.110042 -0.110042


streamingtv
                         mean  count      diff      risk
streamingtv
no                   0.342832   2246  0.072864  0.072864
no_internet_service  0.077805   1221 -0.192163 -0.192163
yes                  0.302723   2167  0.032755  0.032755


streamingmovies
                         mean  count      diff      risk
streamingmovies
no                   0.338906   2213  0.068938  0.068938
no_internet_service  0.077805   1221 -0.192163 -0.192163
yes                  0.307273   2200  0.037305  0.037305


contract
                    mean  count      diff      risk
contract
month-to-month  0.431701   3104  0.161733  0.161733
one_year        0.120573   1186 -0.149395 -0.149395
two_year        0.028274   1344 -0.241694 -0.241694


paperlessbilling
                      mean  count      diff      risk
paperlessbilling
no                0.172071   2313 -0.097897 -0.097897
yes               0.338151   3321  0.068183  0.068183


paymentmethod
                               mean  count      diff      risk
paymentmethod
bank_transfer_(automatic)  0.168171   1219 -0.101797 -0.101797
credit_card_(automatic)    0.164339   1217 -0.105630 -0.105630
electronic_check           0.455890   1893  0.185922  0.185922
mailed_check               0.193870   1305 -0.076098 -0.076098

In [73]:
# 3.6 Features Importance : Mutual Information
# Mutual information - concept from inforrmation theory, it tells how much we can learn about one variable if we know the value of other.
# source Wikipedia

In [75]:
from sklearn.metrics import mutual_info_score

In [ ]:
mutual_info_score()